body {
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    padding: 1rem;
    width: 100%;
    background-color: rgba(116, 114, 114, 0.073);
    justify-content: space-between;
    gap: 0;
}

.pistas {
    display: flex;
    flex-direction: column;
    width: 60%; 
}

.card {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}

.card-image  {   
    display: flex;
    justify-content: center;  
    align-items: center;     
    width: 20%;
}


.card-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    align-content: baseline;
    border-radius: 10px 0 0 10px;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.card-content p {
    font-size: 1rem;
    margin: 5px 0;
}

.card-action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff;
    border-left: 1px solid #ddd;
    border-radius: 0 10px 10px 0;
}

.play-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: #45a049;
}


.letra {
    display: none;
    padding: 10px;
    background-color: #ededed;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 35%;
    margin-top: 20px;
}

.tituloCancion {
    font-size: 1.6rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.letraCancion {
    font-size: 1.2rem;
    color: #593e04;
    line-height: 1.6;
    margin-top: 10px;
    margin-left: 15px;
}